/*form {*/
/*  overflow: hidden;*/
/*}*/

/*.one {*/
/*  float: right;*/
/*  clear: both;*/
/*}*/

html, body {
    /*width: 100%;*/
    text-align: center;
    background-image: url("nba.jpg");
    background-size: cover;
    font-family: arial;
    color: #EAE1E1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

/*tr:nth-child(even) {*/
/*    background-color: #dddddd;*/
/*}*/